In [45]:
# Google "ramen rater"

In [46]:
import pandas as pd

In [48]:
df=pd.read_excel('The-Big-List-20210117.xlsx')
df

,Review #,Brand,Variety,Style,Country,Stars,T
0,3702,Higashimaru,Seafood Sara Udon,Pack,Japan,5,NaN
1,3701,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,NaN
2,3700,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5,NaN
3,3699,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,NaN
4,3698,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,NaN
...,...,...,...,...,...,...,...
3697,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
3698,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
3699,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
3700,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
3701,1,Westbrae,Miso Ramen,Pack,United States,0.5,NaN

In [49]:
df.isnull().sum()

Review #       0
Brand          0
Variety        0
Style          0
Country        0
Stars          0
T           3702
dtype: int64

In [50]:
df=df.drop(['Review #','T'], axis=1)
df

,Brand,Variety,Style,Country,Stars
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5
...,...,...,...,...,...
3697,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
3698,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1
3699,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2
3700,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2
3701,Westbrae,Miso Ramen,Pack,United States,0.5

In [51]:
df.dtypes

Brand      object
Variety    object
Style      object
Country    object
Stars      object
dtype: object

In [52]:
df['Stars']

0         5
1       3.5
2         5
3       4.5
4       3.5
       ...
3697    3.5
3698      1
3699      2
3700      2
3701    0.5
Name: Stars, Length: 3702, dtype: object

In [53]:
df['Stars'].value_counts()

5                      667
3.5                    543
3.75                   535
4                      439
4.5                    242
3.25                   222
4.25                   215
3                      172
2.75                   110
2                       95
4.75                    93
2.5                     93
1.5                     50
0                       40
1                       38
2.25                    29
1.75                    28
0.5                     20
0.25                    17
1.25                    14
Unrated                  3
NR                       3
4.25/5                   2
0.75                     2
4.125                    2
1.1                      2
2.9                      2
3.1                      2
2.8                      2
3.125                    1
4.5/5                    1
3.4                      1
2.3                      1
3.2                      1
1.8                      1
2017-05-05 00:00:00      1
0.1                      1
3.6                      1
3.5/2.5                  1
2.85                     1
3.7                      1
2.125                    1
0.9                      1
2017-05-04 00:00:00      1
3.65                     1
2.1                      1
2017-04-04 00:00:00      1
5/2.5                    1
NS                       1
Name: Stars, dtype: int64

In [55]:
df['Stars']=df["Stars"].replace('4.5/5',4.5)
df['Stars']=df["Stars"].replace('5/2.5',2.5)
df['Stars']=df["Stars"].replace('3.5/2.5',2.5)
df['Stars']=df["Stars"].replace('4.25/5',4.25)
df['Stars'].value_counts()

5                      667
3.5                    543
3.75                   535
4                      439
4.5                    243
3.25                   222
4.25                   217
3                      172
2.75                   110
2.5                     95
2                       95
4.75                    93
1.5                     50
0                       40
1                       38
2.25                    29
1.75                    28
0.5                     20
0.25                    17
1.25                    14
Unrated                  3
NR                       3
3.1                      2
2.8                      2
1.1                      2
4.125                    2
2.9                      2
0.75                     2
2017-05-04 00:00:00      1
NS                       1
3.125                    1
2017-04-04 00:00:00      1
2.1                      1
3.65                     1
0.9                      1
3.7                      1
2.85                     1
3.6                      1
0.1                      1
2017-05-05 00:00:00      1
1.8                      1
3.2                      1
2.3                      1
3.4                      1
2.125                    1
Name: Stars, dtype: int64

In [57]:
df['Stars']=pd.to_numeric(df['Stars'], errors='coerce')
df['Stars'].value_counts()

5.000    667
3.500    543
3.750    535
4.000    439
4.500    243
3.250    222
4.250    217
3.000    172
2.750    110
2.000     95
2.500     95
4.750     93
1.500     50
0.000     40
1.000     38
2.250     29
1.750     28
0.500     20
0.250     17
1.250     14
1.100      2
3.100      2
2.900      2
0.750      2
2.800      2
4.125      2
2.850      1
2.300      1
3.600      1
3.700      1
3.650      1
0.100      1
3.400      1
3.125      1
1.800      1
3.200      1
2.100      1
2.125      1
0.900      1
Name: Stars, dtype: int64

In [58]:
df.isnull().sum()

Brand       0
Variety     0
Style       0
Country     0
Stars      10
dtype: int64

In [59]:
df=df.dropna()

df.isnull().sum()

Brand      0
Variety    0
Style      0
Country    0
Stars      0
dtype: int64

In [60]:
df

,Brand,Variety,Style,Country,Stars
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5
...,...,...,...,...,...
3697,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
3698,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0
3699,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0
3700,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0
3701,Westbrae,Miso Ramen,Pack,United States,0.5

In [61]:
df.to_csv('thebiglist_clean.csv')

In [62]:
pd.read_csv('thebiglist_clean.csv')

,Unnamed: 0,Brand,Variety,Style,Country,Stars
0,0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0
1,1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5
2,2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0
3,3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5
4,4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5
...,...,...,...,...,...,...
3687,3697,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
3688,3698,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0
3689,3699,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0
3690,3700,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0
3691,3701,Westbrae,Miso Ramen,Pack,United States,0.5